
# basic file/folders to ignore in testng/maven/java project in eclipse.
/.classpath
/.project
/.settings/
/target/


/.vs/
/bin/
/test-output/
/ExtentReport.html
/logfile.log
/logFinalStatus.log
/apps/
/drivers/
/reportArchive/
/screenshots/
/extentReport.html
/shellscripts/lastruncommand.sh
/myTemp.xml